{% extends "utilitycosts/base.html" %}
{% load bootstrap4 %}

{% block content %}
<p><a href="{% url 'water_add' %}">水道代</a> / <a href="{% url 'gas_add' %}">ガス代</a> / 電気代</p>
{% if electricity_id %}
  <form action="{% url 'electricity_mod' electricity_id=electricity_id %}" method="post">
{% else %}
<h2>電気代</h2>
  <form action="{% url 'electricity_add' %}" method="post">
{% endif %}
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  <div class = "offset-md-3 col-md-9">
    <button type="submit" class="btn btn-outline-secondary">送信</button>
  </div>
  </form>
  <a href="{% url 'list' %}" class="btn btn-secondary btn-sm">戻る</a>

{% endblock content %}
