{% extends "utilitycosts/base.html" %}
{% load bootstrap4 %}

{% block content %}
<p><a href="{% url 'water_add' %}">水道代</a> / ガス代 / <a href="{% url 'electricity_add' %}">電気代</a></p>
{% if gas_id %}
  <form action="{% url 'gas_mod' gas_id=gas_id %}" method="post">
{% else %}
<h2>ガス代</h2>
  <form action="{% url 'gas_add' %}" method="post">
{% endif %}
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  <div class = "offset-md-3 col-md-9">
    <button type="submit" class="btn btn-outline-secondary">送信</button>
  </div>
  </form>
  <a href="{% url 'list' %}" class="btn btn-secondary btn-sm">戻る</a>

{% endblock content %}
